/.metadata/
/Arquivos/Projetos/ITA/WebServiceJavaAvancado/OlaWeb/nbproject/private/
/Arquivos/Projetos/ITA/WebServiceJavaAvancado/OlaWeb/build/
/Arquivos/Projetos/ITA/WebServiceJavaAvancado/SomarParcelas/nbproject/private/
/Arquivos/Projetos/ITA/WebServiceJavaAvancado/SomarParcelas/build/
/Arquivos/Projetos/ITA/WebServiceJavaAvancado/TesteFuncionalSomarParcelas/target/
/Arquivos/Projetos/ITA/WebServiceJavaAvancado/TesteFuncionalSomarParcelas/nbproject/
